<!DOCTYPE html>
<html>
<head>
  <title>Meter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "meter/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'top' %>
<%= yield %>

<%= javascript_include_tag 'meter/application' %>

<%= render 'footer' %>
</body>
</html>
