.simple__widget
	width: 100%
	height: 300px


.simple
	float: left
	width: 100%
	height: 100%
	background-color: #fff
	box-sizing: border-box
	border-radius: 4px


	> .simple-content
		height: 100%


	> .simple-content > .value
		font: 46pt "Arial", sans-serif
		text-align: center
		margin-top: 70px
