.filter-form
	> .filter-container
		background-color: #fff
		min-height: 48px
		overflow: hidden
		border-bottom: 1px solid #dcdcdc
		cursor: pointer
		padding: 7px 20px


	> .filter-container > .filter-button
		float: left
		margin-right: 5px
		margin-top: 3px
		background-color: #5ea3d3
		color: #ffffff
		border-radius: 4px
		padding: 6px 10px 6px 10px


	> .filter-container > .filter-button:hover
		background-color: lighten(#5ea3d3, 10%)


	> .filter-container > .filter-container-placeholder
		color: darken(#dcdcdc, 25%)


	> .menu
		position: absolute
		top: 0px
		width: 100%
		background-color: #fff
		border: 1px solid #dcdcdc
		border-top: none
		max-height: 260px
		z-index: 2000
		overflow-y: auto


	> .menu.-unvisible
		display: none


.item
	background-color: #fff
	padding: 5px 10px
	cursor: pointer
	color: #000

	&:hover
		background-color: rgb(122, 149, 232)

	&.-active
		color: #bbb


.everything-item
	padding: 5px 10px
	cursor: pointer

	&.-special
		color: #337ab7
		background-color: #dcdcdc

	&.-special:hover
		background-color: #cacaca
		font-weight: bold
