<div class="filter-form" role="filter">
	<div class="filter-container"></div>
	<div class="menu -unvisible" role="menu">
		{{#each categories}}
			<div class="item" role="item">{{ this }}</div>
		{{/each}}
		<div id="everything" class="everything-item -special" role="everything">Everything</div>
	</div>
</div>
