<div class="range" role="range"></div>
<div class="show" role="show">Settings ➜</div>
<div class="settings hide" role="settings">
	<div class="wrap" role="wrap">
		<div class="measure" role="measure"></div>
		<div class="presets" role="presets"></div>
	</div>
</div>
