<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="auto">
    <span class="measure_label">Auto</span>
</label>
<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="days">
    <span class="measure_label">By days</span>
</label>
<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="weeks">
    <span class="measure_label">By weeks</span>
</label>
<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="months">
    <span class="measure_label">By months</span>
</label>
