<li class="menuDate"><a href="#" role="today">Today</a></li>
<li class="menuDate"><a href="#" role="yeasterday">Yesterday</a></li>
<li class="menuDate"><a href="#" role="week">7 days</a></li>
<li class="menuDate"><a href="#" role="thirty">30 days</a></li>
<li class="menuDate"><a href="#" role="threemonths">Three months</a></li>
<li class="menuDate"><a href="#" role="lastweek">Last week</a></li>
<li class="menuDate"><a href="#" role="lastmonth">Last month</a></li>
<li class="menuDate"><a href="#" role="currentmonth">Тhis month</a></li>
<li class="menuDate"><a href="#" role="year">Year</a></li>
