<div id="widget" role="widget">
	<div class="range_interval" role="range_interval">
		Selected <span role="range_interval_days"></span> days
	</div>
	<div class="range_datepicker" role="range_datepicker"></div>
	<div id="widgetCalendar" role="widgetCalendar" data-show="false">
		<ul class="datePickerLeftMenu" role="datePickerLeftMenu"></ul>
		<div role="datePicker"></div>
	</div>
</div>
